body {
    background-image: url("https://image.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg");

}

#title {
    background-color: #C97124;
    width: fit-content;
    clear: both;
    font-family: 'Rammetto One', cursive;
    color: white;
    padding: 25px;
    margin-left: 0;
}

#instructions {
    background-color: #FBE7CC;
    width: 430px;
    margin-left: 15px;
    padding: 15px;
    color: #4D914B;
    font-weight: bold;
}

#startNumber {
    background-color: #5CC87F;
    width: fit-content;
    font-size: 30pt;
    text-align: left;
    margin-left: 30px;
    padding: 0 175px 100px 5px;
    float: left;
}

.wlColumn {
    background-color: #4AFCFE;
    width: fit-content;
    float: left;
    margin-left: 12px;
    padding: 50px 50px 47px 50px; 
}
.blue, .red, .teal, .green {
    background-color: white;
    width: fit-content;
    border: 5px solid #2AA296;
}
.crystal {
    width: 100px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.teal {
    width: 87px;
}
.red {
    width: 94px;
}

.crystals {
    margin-left: 35px;
}
.btmColm {
    margin-left: 35px;
    width: 150px;
}

.scoreHead {
    background-color: #2AA296;
    padding: 15px;
    color: white;
}

#finalTotal {
    background-color: #2AA296;
    padding: 15px 15px 55px 15px;
    color: white;
}
